@import '../../../styles/variables';

.adsection-content-wrapper{
    text-align: left;
}

.adsection-content{
    padding-left: 24%;
}

.text-wrapper{
    font-family: $font-manrope-regular;
    font-size: 16px;
    margin-top:-15px;
    color: $main-gray;
    line-height: 30px;

}

.button-wrapper{
    margin-top: 25px;
}

.adsection-button{
    color: $white;
    border: none;
    background-color: $main-purple;
    width: 180px;
    height: 47px;
    font-family: $font-poppins-semibold;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    filter: drop-shadow( 0px 5px 3px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 478px) {
   .adsection-content{
       text-align: center;
       padding: 15px 10px;
   }

   .text-wrapper{
       font-size: 12px;
       margin-top: 0px;
   }

   .button-wrapper{
       margin: 20px 0px;
   }

   .adsection-button{
    width: 120px;
    height: 40px;
    font-size: 12px;
   }
  }

  @media screen and (min-width: 479px) and  (max-width: 1000px) {
    .adsection-content{
        padding-left: 0px;
    }

    .text-wrapper{
        font-size: 12px;
        margin-top: -40px;
        line-height: 24px;
  } 

  .button-wrapper{
      margin-top: 11px;
  }

  .adsection-button{
      width: 100px;
      height: 35px;
      font-size: 12px;
  }
}

@media screen and (min-width:1000px) and (max-width:1200px){
    .text-wrapper{
        margin-top: -44px;
    }
}