.featuresection-wrapper{
    width: 100%;
    text-align: center;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FBFBFD;
    border-radius: 36px;
    padding: 50px 0px;
}

.featuresection-title{
    font-family: 'Poppins-semibold';
    font-size: 30px;
}

.featuresection-subtitle{
    font-family: 'Poppins-regular';
    font-size: 16px;
    color: #343D48;
    margin-top: 10px;
    width: 50%;
}

.features-cols{
    margin-top: 40px;
    width: 100%;
}

.featuresection-button{
    margin-top: 70px;
}

.trynow-btn{
    color: #fff;
    border: none;
    background-color: #6337BE;
    width: 180px;
    height: 47px;
    font-family: 'Poppins-semibold';
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
}

@media screen and (max-width: 478px) {
    .featuresection-wrapper{
        background-color: transparent;
        margin-top: -20px;
    }

    .featuresection-title{
        font-size: 26px;
    }

    .featuresection-subtitle{
        font-size: 12px;
        width: 85%;
        line-height: 24px;
    }

    .features-cols{
        margin-top: 5px;
    }

    .featuresection-button{
        margin-top: 25px;
    }

    .trynow-btn{
        width: 120px;
        height: 42px;
        font-size: 12px;
    }

}

@media screen and (min-width: 478px) and (max-width: 1000px) {

    .featuresection-title{
        font-size: 26px;
    }

    .featuresection-subtitle{
        font-size: 12px;
        width: 70%;
        line-height: 24px;
    }

    .features-cols{
        margin-top: 5px;
    }

    .featuresection-button{
        margin-top: 25px;
    }

    .trynow-btn{
        width: 100px;
        height: 35px;
        font-size: 12px;
    }
}