.adsection-wrapper{
    padding: 10px;
    margin-top: 70px;
}

@media screen and (max-width: 478px) {
    .adsection-wrapper{
        background-color: #FBFBFD;
        margin-top: 0px;
    }
    .isMobile{
        display: none;
    }
  }